.info{
	border:2px solid #B1DBA4;
	vertical-align: center;
	border-radius: 3px;
	padding: 15px;
	background-color:#B1DBA4;
	margin-left:15%;
	margin-right:15%;
	margin-top: 10px;
	margin-bottom:10px;
	font-size: 13pt;
}
#huami{
	
}

#ycoarse{

}

#prevXP{

}

#macorpc{

}

#misc{

}

body{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color:#444B57;
	background-color:#DCE0E3;
}
h3{
	color:#444B57;
}
div h3{
	color:#000000;
}
div{
	color:#685469;
}

img{
	height: auto;
	width: auto;
	max-width: 200px;
	max-height: 200px;
}