.info{
	border:2px solid #B1DBA4;
	vertical-align: center;
	border-radius: 3px;
	padding: 15px;
	background-color:#B1DBA4;
	margin-left:15%;
	margin-right:15%;
	margin-top: 10px;
	margin-bottom:10px;
	font-size: 13pt;
}
#huami{
	
}

#ycoarse{

}

#prevXP{

}

#macorpc{

}

#misc{

}

body{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background-color:#9C4F44;
}

